
<div id="top">

<!--====== PORTFOLIO PART START ======-->

<section id="portfolio" class="portfolio-area portfolio-four pb-100" >
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 border-right">
                    <div class="nav flex-column nav-pills portfolio-menu text-center mt-50"
                         id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab"
                           data-toggle="pill" data-target="#v-pills-home"
                           role="tab" aria-controls="v-pills-home"
                           aria-selected="true">Home
                        </a>
                        <a class="nav-link" id="v-pills-profile-tab"
                           data-toggle="pill" data-target="#v-pills-profile"
                           role="tab" aria-controls="v-pills-profile"
                           aria-selected="false">Users
                        </a>
                        <a class="nav-link" id="v-pills-messages-tab"
                           data-toggle="pill" data-target="#v-pills-messages" role="tab"
                           aria-controls="v-pills-messages"
                           aria-selected="false">Messages
                        </a>
                        <a class="nav-link" id="v-pills-settings-tab"
                           data-toggle="pill" data-target="#v-pills-settings"
                           role="tab" aria-controls="v-pills-settings"
                           aria-selected="false">Settings
                        </a>
                    </div>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <div class="tab-content mt-10 col-sm-12 col-md-12 col-lg-12" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        Customers file

                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div ng-hide="showAddUserDiv">

                                <div class="card">
                                    <div class="card-body">
                                        <nav class="navbar navbar-light bg-light">
                                            <form class="form-inline">
                                                <input class="form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                            </form>
                                            <button class="btn btn-sm btn-outline-success my-2 my-sm-0 float-right" ng-click="isAddNewUser()" type="button">Add New</button>
                                        </nav>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">MobileNo</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="data in myFormUsersDataTemp">
                                                    <th scope="row">{{$index + 1}}</th>
                                                    <td>{{data.Role}}</td>
                                                    <td>{{data.Name}}</td>
                                                    <td>{{data.Email}}</td>
                                                    <td>{{data.MobileNo}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div ng-show="showAddUserDiv">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="pull-left">Create New User</span>
                                        <span class="float-right">
                                            <button type="button" class="btn btn-outline-danger"
                                                    ng-click="showAddUserDiv = false">close
                                            </button>
                                        </span>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <form id="MyformUsers" name="MyformUsers" method="post" ng-submit="AddUser()">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputName4">Name</label>
                                                    <input type="text" ng-model="myFormUsersData.Name"
                                                           class="form-control" id="inputName4" placeholder="Name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputMobile4">Mobile No</label>
                                                    <input type="text" ng-model="myFormUsersData.MobileNo"
                                                           class="form-control" id="inputMobile4" placeholder="Mobile">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4">Email</label>
                                                    <input type="email" ng-model="myFormUsersData.Email"
                                                           class="form-control" id="inputEmail4" placeholder="Email">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputPassword4">Password</label>
                                                    <input type="password" ng-model="myFormUsersData.Password"
                                                           class="form-control" id="inputPassword4" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-8">
                                                    <label for="inputAddress">Address</label>
                                                    <input type="text" ng-model="myFormUsersData.Address"
                                                           class="form-control" id="inputAddress" placeholder="1234 Main St">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputCity">City</label>
                                                    <input type="text" ng-model="myFormUsersData.City"
                                                           class="form-control" id="inputCity">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-5">
                                                    <label for="inputState">State</label>
                                                    <select id="inputState" ng-model="myFormUsersData.State" class="form-control">
                                                        <option value="" selected>Choose...</option>
                                                        <option value="Maharastra">Maharastra</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputZip">Zip</label>
                                                    <input type="text" ng-model="myFormUsersData.Zip"
                                                           class="form-control" id="inputZip">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputRole">Role</label>
                                                    <select id="inputRole" ng-model="myFormUsersData.Role" class="form-control">
                                                        <option value="" selected>Select Role</option>
                                                        <option value="counsellor">Counsellor</option>
                                                        <option value="receptionist">Receptionist</option>
                                                        <option value="teamlead">Team Lead</option>
                                                        <option value="user">User</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <button type="submit" class="btn btn-primary mt-4 float-right">Create</button>



                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Hello 2</div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Hello 4</div>
                    </div>
                </div>
            </div>
    </div> <!-- container -->
</section>

<!--====== PORTFOLIO PART ENDS ======-->


<!--====== FOOTER PART START ======-->

<section class="footer-area footer-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="footer-logo text-center">
                    <a class="mt-30" href="index.html">
                        <h3 class="text-white">Nicks Mobile Gallery</h3>
                    </a>
                        <!-- <img src="assets/images/logo.svg" alt="Logo"></a> -->
                </div> <!-- footer logo -->
                <ul class="social text-center mt-60">
                    <li><a href="https://facebook.com"><i class="lni lni-facebook-filled"></i></a></li>
                    <li><a href="https://twitter.com"><i class="lni lni-twitter-original"></i></a></li>
                    <li><a href="https://instagram.com"><i class="lni lni-instagram-original"></i></a></li>
                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                </ul> <!-- social -->
                <div class="footer-support text-center">
                    <span class="number">+917040212646</span>
                    <span class="mail">support@nicksmobilegallery.com</span>
                </div>
                <div class="copyright text-center mt-35">
                    <p class="text">Designed by <a href="https://vissaic.com" rel="nofollow">Vissaic.com</a></p>
                </div> <!--  copyright -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a data-target="top" class="back-to-top"><i class="lni lni-chevron-up"></i></a>
    <div id="toast">
        <div id="img">Icon</div>
        <div id="desc">{{message}}</div>
    </div>
</div>