

<!--====== PRINICNG START ======-->

<section id="pricing" class="pricing-area " ng-controller="loginController as login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Login here!</h3>
                    <p class="text">Welcome to Nicks Mobile Gallery</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-7 col-sm-9">
                <form id="MyformLogin" name="MyformLogin" method="post" ng-submit="login.doLogin()">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/user.png" alt="">
                    </div>
                    <div class="pricing-list">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address / username</label>
                                <input type="text" class="form-control"
                                       id="exampleInputEmail1"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter email"
                                       maxlength="255"
                                       ng-model="login.loginData.username"
                                       required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password"
                                       class="form-control"
                                       id="exampleInputPassword1"
                                       placeholder="Password"
                                       maxlength="128"
                                       ng-model="login.loginData.password"
                                       required>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me!</label>
                            </div>
                        <div ng-show="login.Invalid" class="alert alert-danger" role="alert">
                            Incorrect Password.
                        </div>
                        <div ng-show="login.InvalidUser" class="alert alert-danger" role="alert">
                            Incorrect Email Address or Password.
                        </div>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <button type="submit" class="main-btn rounded-one">GET STARTED</button>
                    </div>
                </div>
                </form>
                <!-- pricing style one -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PRINICNG ENDS ======-->


<!--====== FOOTER PART START ======-->

<section class="footer-area footer-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="footer-logo text-center">
                    <a class="mt-30" href="index.html">
                        <h3 class="text-white">Nicks Mobile Gallery</h3>
                        <div class="pricing-btn rounded-buttons text-center mt-5">
                            <a class="main-btn rounded-one" href="#">Login</a>
                        </div>
                        <!-- <img src="assets/images/logo.svg" alt="Logo"></a> -->
                </div> <!-- footer logo -->
                <ul class="social text-center mt-60">
                    <li><a href="https://facebook.com"><i class="lni lni-facebook-filled"></i></a></li>
                    <li><a href="https://twitter.com"><i class="lni lni-twitter-original"></i></a></li>
                    <li><a href="https://instagram.com"><i class="lni lni-instagram-original"></i></a></li>
                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                </ul> <!-- social -->
                <div class="footer-support text-center">
                    <span class="number">+917040212646</span>
                    <span class="mail">support@nicksmobilegallery.com</span>
                </div>
                <div class="copyright text-center mt-35">
                    <p class="text">Designed by <a href="https://vissaic.com" rel="nofollow">Vissaic.com</a></p>
                </div> <!--  copyright -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

<!--====== BACK TOP TOP PART ENDS ======-->